body.text{
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fafc;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 480px;
  background-size: cover;
  margin: 15px;
  padding: 2px;
  padding-right: 600px;
  font-weight: 300;
  font-size: 18px;
  color: #69696a;
}

p{
  position: relative;
  margin-top: 50px;
  padding-left: 25px;
}

section{
  position: absolute;
  margin-top: 0px;
}

h4{
  color: #000;
  font-weight: 300;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 25px;
  position: absolute;
}

h2{
  top: 180px;
  color: #000;
  font-weight: 400;
  font-size: 30px;
  margin-top: 150px;
  padding-left: 25px;
}

ul.nav_container{
  position: absolute;
  right: 0px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

ul.nav_container li a{
  color: #69696a;
  text-decoration: none;
}

.whiteText{
  background-color: #000;
  margin: 0;
  color: #f9fafc;
  border-style: solid;
  border-radius: 15px;
  border-color: #000;
  border-width: 20px;
  height: 20px;
  width: auto;
  display: block;
  text-align: center;
  text-decoration: none;
}

.whiteText2{
  background-color: #000;
  margin-top: 200px;
  margin-left: 600px;
  color: #f9fafc;
  border-style: solid;
  border-radius: 15px;
  border-color: #000;
  border-width: 20px;
  height: 20px;
  width: auto;
  display: block;
  text-align: center;
  text-decoration: none;
}
.nav-wrapper{
  display: flex;
  justify-content: space-between;
}

.whiteText, .btngroup, .whiteText2{
  width: auto;
  display: inline-block;
}

li{
  margin: 0 10px;
}

ul{
  display: flex;
  align-items: center;
}

.left{
  border-radius: 200px;
  border: 15px;
  background-color: rgba(247, 136, 167, 0.6);
  height: 400px;
  width: 400px;
  margin-left: 850px;
  margin-top: 200px;
  position: absolute;
}

.bottom{
  background-color: rgba(207, 130, 213, 0.6);
  border-radius: 200px;
  border: 10px;
  height: 200px;
  width: 200px;
  margin-left: 1200px;
  margin-top: 300px;
  position: absolute;
}

.top{
  background-color: rgba(247, 193, 162, 0.7);
  border-radius: 200px;
  border: 10px;
  height: 300px;
  width: 300px;
  margin-left: 1080px;
  margin-top: 450px;
  position: absolute;
}
.bar{
  border: 2px solid #000;
  height: 200px;
  width: 10px;
  position: absolute;
  display: inline-block;
  padding-right: 10px;
  top: 350px;
  float: right;
